* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.regist-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.regist-image {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -350px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.regist-image h1 {
  color: #fff500;
  font-size: 80px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.regist-form {
  width: 50%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 4rem 2rem;
  gap: 2em;
  border: 1px solid black;
  background-color: #bdabdb;
  color: white;
  height: 100vh;
}

.regist-form h1 {
  max-width: 80%;
}

.left-form,
.right-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 3em;
}
.regist-form form {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 30%;
  gap: 3rem;

  width: 70%;
}

.forms {
  display: flex;
  gap: 2em;
  width: 100%;
  justify-content: space-between;
}

#error {
  color: red;
}

.left-form input,
.right-form input,
.regist-form form input {
  padding: 20px;
  color: grey;
  border-radius: 20px;
  width: 100%;
  border: none;
}

#submit-register {
  margin-top: 1em;
  color: white;
  padding: 16px;
  width: 60%;

  background-color: black;
}

@media (max-width: 600px) {
  .regist-image {
    display: none;
  }

  .regist-form {
    width: 100%;
  }
  .regist-form form {
    padding: 0 1rem;
    width: 100%;
  }
}
